:root{
    --hot-pink: #C50A85;
    --light-purple: #971CB1;
    --dark-purple: #45296A;
    --dark-blue: #0C5794;
    --light-blue: #79C1D8;
    --med-cyan: #0AC2AC;
    --body-bg: var(--dark-purple);
}

*{
    background: var(--body-bg);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav div#hamburger,
nav div#hamburger::before,
nav div#hamburger::after{
    width: 30px;
    height: 3px;
    background: #fff;
}

nav div#hamburger{
    position: relative;
    top: 20px;
    right: 10px;
}

nav div#hamburger::before,
nav div#hamburger::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
}

nav div#hamburger::after{
    top: 10px;
}

nav div#hamburger.open::before{
    transform: rotate(-45deg) translateX(40px);
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
}

nav img{
    border-radius: 50%;
}

header{
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
}

header>div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div:nth-child(2){
    flex-direction: column;
}

header h1{
    font-size: 2.5rem;
}